﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Content/img/EngBox_icon_3.png" />
    <title>English Box</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/Style.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/Assets/js/ckeditor/ckeditor.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" style="border-bottom:2px solid #006766;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src="~/Content/img/EngBox_icon_3.png" style="height:50px;" />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="@Url.Action("Index","Home")" style="font-family:'Bookman Old Style'; font-size:30px; padding-top:28px;">English Box<span class="sr-only">(current)</span></a></li>

                </ul>
                <div class="nav navbar-nav navbar-right">
                    <div class="dropdown" style="padding-top:5px;">
                        @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                        {
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>@Html.ActionLink("EN", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                            </ul>
                        }
                        else
                        {
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">EN <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>@Html.ActionLink("TR", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
                            </ul>
                        }
                    </div>
                    <form class="form-inline" style="padding-top:8px;">
                        <div class="input-group col-md-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control" placeholder="">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                    Ara
                                </button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    @Session["KullaniciAdiSoyadi"]
                </div>
                <div class="panel-body">
                    <div class="list-group">                        
                        <a href="/Admin/AHesapAyarlari?KullaniciID=@Session["KullaniciID"]" class="list-group-item">
                            <img src="~/Assets/img/userAyar.png" style="height:35px;" />&emsp;  Hesap Ayarları
                        </a>
                        <a href="@Url.Action("Cikis","Admin")" class="list-group-item">
                            <img src="~/Content/img/giris.png" style="height:35px;" />&emsp;Çıkış Yap
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Menü
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="@Url.Action("Index","Admin")" class="list-group-item">
                            <img src="~/Content/img/ikon/anasayfa.png" style="height:35px;" />&emsp;Ana Sayfa
                        </a>
                        <a href="@Url.Action("Kullanicilar","Admin")" class="list-group-item">
                            <img src="~/Assets/img/users.png" style="height:35px;" />&emsp;Kullanıcılar
                        </a>
                        <a href="@Url.Action("AdminDilBilgisiYazilari","Admin")" class="list-group-item">
                            <img src="~/Content/img/ikon/gramerders.png" style="height:35px;" />&emsp;Gramer Dersleri
                        </a>
                        <a href="@Url.Action("AKelimeKartlari","Admin")" class="list-group-item">
                            <img src="~/Content/img/ikon/kelimekartı.png" style="height:35px;" />&emsp;Kelime Kartları
                        </a>
                        <a href="@Url.Action("AHazirlikSorulari","Admin")" class="list-group-item">
                            <img src="~/Content/img/ikon/yazilihazirlik.png" style="height:35px;" />&emsp;Yazılıya Hazırlık Soruları
                        </a>
                        <a href="@Url.Action("AOdevler","Admin")" class="list-group-item">
                            <img src="~/Content/img/ikon/odev.png" style="height:35px;" />&emsp;Ödevler
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-12 col-xs-12 gramer container">
            @RenderBody()
        </div>
    </div>


    <footer style="background-color:#006766; color:#ffffff; padding-bottom:20px;">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="page-header">
                    <h4>Sosyal Medya Hesaplarımız</h4>
                </div>
                <a href="#">
                    <img src="~/Content/img/facebook.png" style="height:50px;" />
                </a>
                <label>English Box Facebook</label><br />
                <a href="#">
                    <img src="~/Content/img/google.png" style="height:50px;" />
                </a>
                <label>  englishbox@gmail.com</label><br />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="page-header">
                    <h4>Site Tasarımı</h4>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/img/logo.png" />
                </div>
                <div class="col-md-6">
                    <p>Ziya Çetinkaya - B111210019</p>
                    <button type="submit" class="btn btn-success btn-xs pull-right">Diğer Tasarımları Gör</button>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>

