﻿
@{
    ViewBag.Title = "Aktivasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" style="margin:10px 0 -20px 0;">
    <h3>Üyeliğiniz aktifleştirilmiştir....</h3>
    <p>@Html.ActionLink("Üye girişi yapmak için lütfen tıklayınız.", "Login", "Home", null, new { @style = "color:#8bb029;" })</p>
</div>