﻿@{
    ViewBag.Title = "Dil Bilgisi Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EnglishBoxSite.Models.DilBilgisiYazilari

<div class="jumbotron" style="background-color:#006766">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/img/ikon/gramerders.png" class="img-responsive" />
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 style="color:aliceblue">Dil Bilgisi Dersleri</h2>
        </div>
    </div>
</div>
<div class="blog">
    @if (Model.YaziGorsel == null)
    {
    <img class="img-responsive" src="~/Content/img/BlogGorsel/gramerFotoYok.png" alt="@Model.YaziBaslik" />
    }
    else
    {
    <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(Model.YaziGorsel)" alt="@Model.YaziBaslik">
    }
    <br />
    <h4>@Model.YaziBaslik</h4>
    <span class="pull-right" style="font-size:12px;">@string.Format("{0:dd/MM/yyyy}", @Model.YaziTarih)</span>
    <hr />
    <p>
       @Html.Raw(Model.YaziIcerik)
    </p>
</div>
