﻿@{
    ViewBag.Title = "Dil Bilgisi Dersleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<EnglishBoxSite.Models.DilBilgisiYazilari>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="jumbotron" style="background-color:#006766">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/img/ikon/gramerders.png" class="img-responsive" />
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 style="color:aliceblue">Dil Bilgisi Dersleri</h2>
        </div>
    </div>
</div>
<div class="blog row">
    @foreach (var item in Model)
    {
        if (item.YaziGorsel == null)
        {
            <img class="img-responsive" src="~/Content/img/BlogGorsel/gramerFotoYok.png" alt="@item.YaziBaslik" />
        }
        else
        {
            <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.YaziGorsel)" alt="@item.YaziBaslik">
        }
        <br />
        <h4>@item.YaziBaslik</h4>
        <span class="pull-right" style="font-size:12px;">@string.Format("{0:dd/MM/yyyy}", @item.YaziTarih)</span>
        <hr />
        <p>
            @Html.Raw(item.YaziIcerik)
        </p>
        <a href="/Home/DilBilgisiDetay?YaziID=@item.YaziID" class="btn btn-primary btn-block pull-right">Devamını Oku >></a>
        <div class="col-md-12 col-sm-12 col-xs-12" style="height:1px; border:1px solid #006766; margin-bottom:20px; margin-top:20px;"></div>
    }
</div>
<br />
Sayfa @(Model.PageCount <Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("DilBilgisiDersleri", new { page }), PagedListRenderOptions.PageNumbersOnly)
