﻿@model EnglishBoxSite.Models.Kullanicilar

@{
    ViewBag.Title = "Hesap Ayarları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Assets/img/userAyar.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Hesap Ayarları</h2>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Ad:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KullaniciAdi)
                    </dd>

                    <dt>
                        Soyad:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KullaniciSoyadi)
                    </dd>

                    <dt>
                        Email:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KullaniciEmail)
                    </dd>

                    <dt>
                        Okul:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KullaniciOkul)
                    </dd>

                    <dt>
                        Meslek:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KullaniciMeslek)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <a href="/Home/HesapBilgileriniGuncelle?KullaniciID=@Model.KullaniciID" class="btn btn-info btn-block">Bilgilerimi Güncelle</a>
                    <a href="/Home/SifreDegistir?KullaniciID=@Model.KullaniciID" class="btn btn-danger btn-block">Şifre Değiştir</a>
                </div>
            }
        </div>
    </div>
</div>







