﻿
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@model EnglishBoxSite.Controllers.HomeController.AnaSayfaDTO

<!DOCTYPE html>
<div class="jumbotron" style="background-color:#006766; color:#ffffff; font-family:'Open Sans'">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img src="~/Content/img/ogretmen.png" class="img-responsive" alt="Grammar" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="col-md-8 col-md-offset-2">
                    <h2 style="text-align:center;">Hoş Geldiniz</h2>
                    <hr />
                    <p style="font-size:16px; font-style:italic; text-align:center;">İçeriklere ulaşabilmek için kayıt olmanız gerekmektedir.</p>
                    <hr />

                    <a href="@Url.Action("Login","Home")" class="list-group-item quizStart">
                        <img src="~/Content/img/SignIn.png" style="height:40px;" />
                        Giriş Yap / Kayıt Ol
                    </a>
                </div>


            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img src="~/Content/img/ogr.png" class="img-responsive" alt="Vocabulary" />
            </div>
        </div>
    </div>
</div>

<div class="container" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-bottom:30px;">
    <div class="row">
        <div class="col-md-4">
            <div class="page-header">
                <img src="~/Content/img/gramer.png" style="height:40px;" />
                <label class="control-label" style="font-size:20px; padding-left:5px;">Dil Bilgisi ve Kelime</label>
            </div>
            <p>Sitemize kayıt olarak gramer derslerimizi takip edebilirsiniz. Ayrıca her gün yeni bir tanesiyle karşılaşacağınız kelime kartlarıyla yeni kelimeler öğrenebilirsiniz.</p>
        </div>
        <div class="col-md-4">
            <div class="page-header">
                <img src="~/Content/img/kart.png" style="height:40px;" />
                <label class="control-label" style="font-size:20px; padding-left:5px;">Okuma Parçaları</label>
            </div>
            <p>Her seviyeye uygun okuma parçalarıyla hem okuma kalitenizi hem de kelime dağarcığınızı geliştirme fırsatı bulacaksınız.</p>
        </div>
        <div class="col-md-4">
            <div class="page-header">
                <img src="~/Content/img/sinav.png" style="height:40px;" />
                <label class="control-label" style="font-size:20px; padding-left:5px;">Yazılıya Hazırlık Soruları</label>
            </div>
            <p><i>Şimdilik</i> lise düzeyindeki öğrencilerimizin yazılılarına hazırlanmalarına yardımcı olacak örnek sınav soruları.</p>
        </div>
    </div>
</div>