﻿@{
    ViewBag.Title = "Kelime Kartları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<EnglishBoxSite.Models.KelimeKartlari>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />


<div class="jumbotron" style="background-color:#006766">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/img/ikon/kelimekartı.png" class="img-responsive" />
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 style="color:aliceblue">Kelime Kartları</h2>
        </div>
    </div>
</div>
<div class="blog row">
    <div class="col-md-12 kartlar">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <h4 class="list-group-item kartBaslik">@item.KartBaslik</h4>
                <span class="pull-right" style="font-size:12px;">@string.Format("{0:dd/MM/yyyy}", @item.KartTarih)</span>
                <hr />
                @if (item.KartGorsel == null)
                {
                <img class="img-responsive" src="~/Content/img/KelimeKartlari/kartYok.png" alt="@item.KartBaslik" />
                }
                else
                {
                <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.KartGorsel)" alt="@item.KartBaslik">
                }
            </div>
                
        }
    </div>  
</div>  
<br />
Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("KelimeKartlari", new { page }), PagedListRenderOptions.PageNumbersOnly)


