﻿
@{
    ViewBag.Title = "Kullanıcı Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EnglishBoxSite.Controllers.HomeController.AnaSayfaDTO

<div class="jumbotron" style="background-color:#006766">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/img/news.png" class="img-responsive" />
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 style="color:aliceblue">Günün Yayınları</h2>
        </div>
    </div>
</div>
<div class="col-md-8 col-sm-8 col-xs-12">
    <div class="blog row">
        @foreach (var item in Model.DilBilgisiYazi.Take(1))
        {
            <img src="~/Content/img/gramer.png" class="img-responsive img-thumbnail" />
            <label class="page-header" style="font-size:20px;">Dil Bilgisi Konusu</label>

            if (item.YaziGorsel == null)
            {
                <img class="img-responsive" src="~/Content/img/BlogGorsel/gramerFotoYok.png" alt="@item.YaziBaslik" />
            }
            else
            {
                <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.YaziGorsel)" alt="@item.YaziBaslik">
            }
            
            <br />
            <h4>@item.YaziBaslik</h4>
            <p>
                @Html.Raw(item.YaziIcerik)
            </p>
            <a href="/Home/DilBilgisiDetay?YaziID=@item.YaziID" class="list-group-item quizStart">Devamını Oku >></a>
        }

        

    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="blog">
        @foreach (var item in Model.KelimeKarti.Take(1))
        {
            <img src="~/Content/img/kart.png" class="img-responsive img-thumbnail" />
            <label class="page-header" style="font-size:20px;">Kelime Kartı</label>
            if (item.KartGorsel == null)
            {
                <img class="img-responsive" src="~/Content/img/KelimeKartlari/kartYok.png" alt="@item.KartBaslik" />
            }
            else
            {
                <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.KartGorsel)" alt="@item.KartBaslik">
            }
            <br />
            <h4 class="list-group-item kartBaslik">@item.KartBaslik</h4>
        }

        
    </div>
</div>