﻿@model EnglishBoxSite.Models.RegisterViewModel

@{
    ViewBag.Title = "Üye Giriş";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<div class="container">
    <div class="jumbotron" style="background-color:#006766">
        <div class="container">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <img src="~/Content/img/SignIn.png" class="img-responsive img-circle" />
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h2 style="color:aliceblue">Giriş Yap</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("UyeGiris", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Giriş Yap" class="btn btn-default btn-block" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Yeni Bir Hesap Oluştur", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/Content/img/kariyer_planlama.png" class="img-responsive" />
                    <blockquote>
                        <p>
                            Eğer Siz Hayallerinizi İnşa Etmek İçin Çalışmazsanız,<br />
                            Başka Birilerinin Hayallerini İnşa Etmek İçin <br />Çalışmak Zorunda Kalırsınız.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
