﻿
@{
    ViewBag.Title = "Aktivasyon Mesajı";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="alert alert-success" style="margin:50px;">
            <h3>Üyeliğiniz başarıyla tamamlanmıştır...</h3>
            <hr />
            <p>Üyeliğiniz yazmış olduğunuz E-Posta adresinize gönderilen aktivasyon linkine tıkladığınızda aktif olacaktır. Lütfen mail adresinizi doğru yazdığınıza emin olunuz. Junk yada Önemsiz Posta kontrolü yapmanızı tavsiye ederiz.</p>
            <div style="margin:50px;" class="col-md-4 col-sm-4 col-xs-12 pull-right">
                <a href="@Url.Action("Index","Home")" class="list-group-item quizStart">
                    Ana Sayfaya Git
                </a>
            </div>

        </div>
    
    </div>
</div>

