﻿@{
    ViewBag.Title = "Yazılı Hazırlık Soruları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<EnglishBoxSite.Models.YaziliSorulari>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="jumbotron" style="background-color:#006766">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/img/ikon/yazilihazirlik.png" class="img-responsive" />
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 style="color:aliceblue">Yazılıya Hazırlık Soruları</h2>
        </div>
    </div>
</div>
<div class="blog row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel-primary panel-body">
                    <h5 class="kartBaslik" style="padding:10px;">@item.YaziliSinif . Sınıf</h5>
                    <h4>@item.YaziliBaslik </h4>
                    <span class="pull-right" style="font-size:12px;">@string.Format("{0:dd/MM/yyyy}", @item.YaziliTarih)</span>
                    <hr />
                    <a href="#">Hazırlık Soruları Dökümanı</a>
                </div>
            </div>
        }
</div>
<br />
Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("YaziliHazirlikSorulari", new { page }), PagedListRenderOptions.PageNumbersOnly)