﻿.solMenu{
    padding: 5px;
    margin:10px;
    color:#fff!important;
}
.solMenu ul li{
    color:#006766!important;
}

.mesajGonder{
    padding: 5px;
    margin:10px;
    color:#fff!important;
    background-color:#006766;
}

/*.bgnGramer{
    padding-left: 5px;
    margin-bottom:10px;
}

.bgnKart{
    padding-left: 10px;
    margin-bottom:10px;
    border-left:1px solid #006766;
}*/

.gramer{
    border-left:1px solid #006766;
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom:20px;
}
.blog{
    border:3px solid #006766;
    border-radius:5px;
    padding:10px;
    margin:10px;
}

.quizStart{
    background-color:#006766!important; 
    border-color:#006766!important; 
    text-align:center!important;
    color:aliceblue!important;
}
.quizStart:hover{
    background-color:#007e7d!important;
}

.arkaPlan {
    /*background-image: url('../img/englishboxbg3.png');*/
}

.kartlar{
    border-bottom:1px solid #006766; 
    padding-bottom:5px;
}

.kartBaslik{
    background-color:#006766!important; 
    border-color:#006766!important; 
    text-align:center!important;
    color:aliceblue!important;
    text-align:center;
}