﻿@{
    ViewBag.Title = "Yazılı Hazırlık Soruları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model PagedList.IPagedList<EnglishBoxSite.Models.YaziliSorulari>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/yazilihazirlik.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Yazılı Hazırlık Soruları</h2>
            </div>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <a href="/Admin/YaziliHazirlikEkle" class="btn btn-primary pull-right" style="margin-bottom:10px;">Yeni Hazırlık Soruları Ekle</a>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Sınıf</th>
                        <th class="col-md-2">Başlık</th>
                        <th class="col-md-3">Açıklama</th>
                        <th class="col-md-2">Döküman</th>
                        <th class="col-md-2">Tarih</th>
                        <th class="col-md-1"></th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.YaziliSinif</td>
                            <td>@item.YaziliBaslik</td>
                            <td>@item.YaziliAciklama </td>
                            <td><a href="@item.YaziliDokuman">Döküman</a></td>
                            <td>@item.YaziliTarih</td>
                            <td><a href="/Admin/YaziliHazirlikDuzenle?YaziliID=@item.YaziliID" class="btn btn-info btn-sm btn-block">Düzenle</a></td>
                            <td><a href="/Admin/YaziliHazirlikSil?YaziliID=@item.YaziliID" class="btn btn-danger btn-sm btn-block">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("AHazirlikSorulari", new { page }), PagedListRenderOptions.PageNumbersOnly)
</div>

