﻿@{
    ViewBag.Title = "Kelime Kartları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model PagedList.IPagedList<EnglishBoxSite.Models.KelimeKartlari>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/kelimekartı.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Kelime Kartları</h2>
            </div>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <a href="/Admin/KartEkle" class="btn btn-primary pull-right" style="margin-bottom:10px;">Yeni Kart Ekle</a>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Görsel</th>
                        <th class="col-md-4">Başlık</th>
                        <th class="col-md-2">Tarih</th>
                        <th class="col-md-1"></th>
                        <th class="col-md-1"></th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.KartGorsel == null)
                                {
                                    <img class="img-responsive" src="~/Content/img/BlogGorsel/gramerFotoYok.png" alt="@item.KartBaslik" />
                                }
                                else
                                {
                                    <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.KartGorsel)" alt="@item.KartBaslik">
                                }
                            </td>
                            <td>@item.KartBaslik</td>
                            <td>@item.KartTarih</td>
                            <td><a href="/Admin/KartGoster?KartID=@item.KartID" class="btn btn-primary btn-sm btn-block">Göster</a></td>
                            <td><a href="/Admin/KartDuzenle?KartID=@item.KartID" class="btn btn-info btn-sm btn-block">Düzenle</a></td>
                            <td><a href="/Admin/KartSil?KartID=@item.KartID" class="btn btn-danger btn-sm btn-block">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("AKelimeKartlari", new { page }), PagedListRenderOptions.PageNumbersOnly)
</div>



