﻿@{
    ViewBag.Title = "Ödevler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model PagedList.IPagedList<EnglishBoxSite.Models.Odevler>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/odev.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Ödevler</h2>
            </div>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <a href="/Admin/OdevEkle" class="btn btn-primary pull-right" style="margin-bottom:10px;">Yeni Ödev Ekle</a>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Sınıf</th>
                        <th class="col-md-2">Başlık</th>
                        <th class="col-md-3">Açıklama</th>
                        <th class="col-md-2">Döküman</th>
                        <th class="col-md-1">Tarih</th>
                        <th class="col-md-1">Teslim Tarihi</th>
                        <th class="col-md-1"></th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OdevSinif</td>
                            <td>@item.OdevBaslik </td>
                            <td>@item.OdevAciklama </td>
                            <td><a href="@item.OdevDokuman">Döküman</a></td>
                            <td>@item.OdevTarih</td>
                            <td>@item.OdevTeslimTarih</td>
                            <td><a href="/Admin/OdevDuzenle?OdevID=@item.OdevID" class="btn btn-info btn-sm btn-block">Düzenle</a></td>
                            <td><a href="/Admin/OdevSil?OdevID=@item.OdevID" class="btn btn-danger btn-sm btn-block">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("AOdevler", new { page }), PagedListRenderOptions.PageNumbersOnly)
</div>

