﻿@model EnglishBoxSite.Models.Kullanicilar

@{
    ViewBag.Title = "Şifre Değiştir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Assets/img/users.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Şifre Değiştir</h2>
                @Model.KullaniciAdi @Model.KullaniciSoyadi | Şifre Değiştir
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.KullaniciID)

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Geçerli Şifre:</h4>
                    </div>

                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.KullaniciSifre, new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.KullaniciSifre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Yeni Şifre:</h4>
                    </div>

                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.yeniSifre, new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.yeniSifre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Yeni Şifre (Tekrar):</h4>
                    </div>

                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.yeniSifreOnay, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.yeniSifreOnay, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Kaydet" class="btn btn-info btn-block" />
                        <a href="/Admin/AHesapAyarlari?KullaniciID=@Model.KullaniciID" class="btn btn-primary  btn-block">Hesap Ayarları Sayfasına Geri Dön</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>