﻿
@{
    ViewBag.Title = "Admin Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model EnglishBoxSite.Controllers.AdminController.AnaSayfaDTO
<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/anasayfa2.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Ana Sayfa</h2>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3><img src="~/Content/img/ikon/newspaper.png" style="height:50px;" /> Son Yayınlar</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-8">
            @foreach (var item in Model.DilBilgisiYazi.Take(1))
            {
                <img src="~/Content/img/gramer.png" class="img-responsive img-thumbnail" />
                <label class="page-header" style="font-size:20px;">Dil Bilgisi Konusu</label>

                if (item.YaziGorsel == null)
                {
                    <img class="img-responsive" src="~/Content/img/BlogGorsel/gramerFotoYok.png" alt="@item.YaziBaslik" />
                }
                else
                {
                    <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.YaziGorsel)" alt="@item.YaziBaslik">
                }

                <br />
                <h4>@item.YaziBaslik</h4>
                <p>
                    @Html.Raw(item.YaziIcerik)
                </p>
                <a href="/Home/DilBilgisiDetay?YaziID=@item.YaziID" class="list-group-item quizStart">Devamını Oku >></a>
            }
        </div>
        <div class="col-md-4">
            @foreach (var item in Model.KelimeKarti.Take(1))
            {
                <img src="~/Content/img/kart.png" class="img-responsive img-thumbnail" />
                <label class="page-header" style="font-size:20px;">Kelime Kartı</label>
                if (item.KartGorsel == null)
                {
                    <img class="img-responsive" src="~/Content/img/KelimeKartlari/kartYok.png" alt="@item.KartBaslik" />
                }
                else
                {
                    <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.KartGorsel)" alt="@item.KartBaslik">
                }
                <br />
                <h4 class="list-group-item kartBaslik">@item.KartBaslik</h4>
            }
        </div>
    </div>
</div>
