﻿@model EnglishBoxSite.Models.KelimeKartlari

@{
    ViewBag.Title = "Kart Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/gramerders.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Kelime Kartları</h2>
                @Model.KartBaslik | Sil
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h3>Silmek İstediğinizden Emin Misiniz?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Görsel:
                    </dt>

                    <dd>
                        @if (Model.KartGorsel == null)
                        {
                            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/img/KelimeKartlari/kartYok.png" alt="" />
                        }
                        else
                        {
                            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.KartGorsel)" alt="" />
                        }
                    </dd>

                    <dt>
                        Başlık:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KartBaslik)
                    </dd>

                    <dt>
                        Tarih:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KartTarih)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-danger btn-block" />
                    <a href="/Admin/AKelimeKartlari" class="btn btn-primary  btn-block">Dil Bilgisi Yazıları Listesine Geri Dön</a>
                </div>
            }
        </div>
    </div>
</div>


