﻿@model EnglishBoxSite.Models.KelimeKartlari

@{
    ViewBag.Title = "Kart Göster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/gramerders.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Kelime Kartları</h2>
                @Model.KartBaslik | Detaylar
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="col-md-8 col-sm-8 col-xs-12">
            @if (Model.KartGorsel == null)
            {
                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/img/BlogGorsel/kartYok.png" alt="" />
            }
            else
            {
                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.KartGorsel)" />

            }
            <h4>@Model.KartBaslik</h4>
            <p>@Model.KartTarih</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="/Admin/KartDuzenle?KartID=@Model.KartID" class="btn btn-info btn-block">Kartı Düzenle</a>
            <br />
            <a href="/Admin/KartSil?KartID=@Model.KartID" class="btn btn-danger btn-block">Kartı Sil</a>
            <br />
            <a href="/Admin/AKelimeKartlari" class="btn btn-primary  btn-block">Kelime Kartları Listesine Geri Dön</a>
        </div>

    </div>
</div>


