﻿@model EnglishBoxSite.Models.KelimeKartlari

@{
    ViewBag.Title = "Kart Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="jumbotron" style="background-color:#006766">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/img/ikon/kelimekartı.png" class="img-responsive" />
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 style="color:aliceblue">Kelime Kartı Ekle</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("KartEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Görsel:</label>
                            <div class="col-sm-10">
                                <input type="file" name="file" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Başlık:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.KartBaslik, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Ekle" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

