﻿
@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model PagedList.IPagedList<EnglishBoxSite.Models.Kullanicilar>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />


<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Assets/img/users.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Kullanıcılar</h2>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <h4>Ad - Soyad</h4>
            </div>
            <div class="col-md-4">
                <h4>Email</h4>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <hr style="margin:0 auto!important; padding-top:0;" />
        @foreach (var item in Model)
        {
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-4">
                    <p>@item.KullaniciAdi @item.KullaniciSoyadi</p>
                </div>
                <div class="col-md-4">
                    <p>@item.KullaniciEmail</p>
                </div>
                <div class="col-md-4">
                    <a href="/Admin/KullaniciGoster?KullaniciID=@item.KullaniciID" class="btn btn-primary btn-sm">Göster</a>
                    <a href="/Admin/KullaniciDuzenle?KullaniciID=@item.KullaniciID" class="btn btn-info btn-sm">Düzenle</a>
                    <a href="/Admin/KullaniciSil?KullaniciID=@item.KullaniciID" class="btn btn-danger btn-sm">Sil</a>
                </div>
            </div>
        }
        
        
        <hr />
        <br />
        Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Kullanicilar", new { page }), PagedListRenderOptions.PageNumbersOnly)

    </div>
</div>






