﻿@model EnglishBoxSite.Models.Kullanicilar

@{
    ViewBag.Title = "Kullanıcı Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Assets/img/users.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Kullanıcılar</h2>
                @Model.KullaniciAdi @Model.KullaniciSoyadi | Düzenle
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.KullaniciID)

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Adı:</h4>
                    </div>

                    <div class="col-md-9">
                        @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Soyadı:</h4>
                    </div>

                    <div class="col-md-9">
                        @Html.EditorFor(model => model.KullaniciSoyadi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciSoyadi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Email Adresi:</h4>
                    </div>

                    <div class="col-md-9">
                        @Html.EditorFor(model => model.KullaniciEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Okulu:</h4>
                    </div>

                    <div class="col-md-9">
                        @Html.EditorFor(model => model.KullaniciOkul, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciOkul, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Mesleği:</h4>
                    </div>

                    <div class="col-md-9">
                        @Html.EditorFor(model => model.KullaniciMeslek, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciMeslek, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Rol(Admin veya Kullanici):</h4>
                    </div>

                    <div class="col-md-9">

                        @Html.EditorFor(model => model.KullaniciRol, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciRol, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Aktif Mi?:</h4>
                    </div>

                    <div class="col-md-9">
                        @Html.EditorFor(model => model.KullaniciAktivasyon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciAktivasyon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <h4 class="pull-right">Onay:</h4>
                    </div>

                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Onay)
                            @Html.ValidationMessageFor(model => model.Onay, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Kaydet" class="btn btn-info btn-block" />
                        <a href="/Admin/Kullanicilar" class="btn btn-primary  btn-block">Kullanıcı Listesine Geri Dön</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>