﻿@model EnglishBoxSite.Models.Kullanicilar

@{
    ViewBag.Title = "Kullanıcı Detayları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Assets/img/users.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Kullanıcılar</h2>
                @Model.KullaniciAdi @Model.KullaniciSoyadi | Detaylar
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label">Ad-Soyad</label>
                    <div class="col-sm-10">
                        @Model.KullaniciAdi @Model.KullaniciSoyadi
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        @Model.KullaniciEmail
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label">Okul</label>
                    <div class="col-sm-10">
                        @Model.KullaniciOkul
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label">Meslek</label>
                    <div class="col-sm-10">
                        @Model.KullaniciMeslek
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label">Kayıt Tarihi</label>
                    <div class="col-sm-10">
                        @Model.KullaniciKayitTarihi
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label">Rol</label>
                    <div class="col-sm-10">
                        @Model.KullaniciRol
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label">Aktif Mi?</label>
                    <div class="col-sm-10">
                        @Model.Onay
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="/Admin/KullaniciDuzenle?KullaniciID=@Model.KullaniciID" class="btn btn-info btn-block">Kullanıcıyı Düzenle</a>
            <br />
            <a href="/Admin/KullaniciSil?KullaniciID=@Model.KullaniciID" class="btn btn-danger btn-block">Kullanıcıyı Sil</a>
            <br />
            <a href="/Admin/Kullanicilar" class="btn btn-primary  btn-block">Kullanıcı Listesine Geri Dön</a>
        </div>
        
    </div>
</div>
