﻿@model EnglishBoxSite.Models.Odevler

@{
    ViewBag.Title = "Ödev Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/odev.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Ödevler</h2>
                @Model.OdevBaslik | Sil
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h3>Silmek İstediğinizden Emin Misiniz?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Sınıf:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OdevSinif)
                    </dd>

                    <dt>
                        Başlık:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OdevBaslik)
                    </dd>

                    <dt>
                        Açıklama:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OdevAciklama)
                    </dd>

                    <dt>
                        Tarih:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OdevTarih)
                    </dd>

                    <dt>
                        Teslim Tarihi:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OdevTeslimTarih)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-danger btn-block" />
                    <a href="/Admin/AOdevler" class="btn btn-primary  btn-block">Odevler Listesine Geri Dön</a>
                </div>
            }
        </div>
    </div>
</div>




