﻿@model EnglishBoxSite.Models.DilBilgisiYazilari

@{
    ViewBag.Title = "Dil Bilgisi Yazısı Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/gramerders.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Dil bilgisi Yazıları</h2>
                @Model.YaziBaslik | Düzenle
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("YaziDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.YaziID)
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-sm-2">
                                @if (Model.YaziGorsel == null)
                                {
                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/img/BlogGorsel/gramerFotoYok.png" alt="" />
                                }
                                else
                                {
                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.YaziGorsel)" alt="" />
                                }
                            </div>
                            <div class="col-sm-10">
                                <input type="file" name="file" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Başlık</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziBaslik, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">İçerik</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.YaziIcerik, new { @class = "ckeditor" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Tarih</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziTarih, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Güncelle" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

