﻿@model EnglishBoxSite.Models.YaziliSorulari

@{
    ViewBag.Title = "Yazılı Hazırlık Soruları Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/gramerders.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Yazılı Hazırlık Soruları</h2>
                @Model.YaziliBaslik | Düzenle
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("YaziliHazirlikDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.YaziliID)
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Sınıf</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziliSinif, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Başlık</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziliBaslik, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Açıklama</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziliAciklama, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Döküman (URL)</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziliDokuman, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Tarih</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziliTarih, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Güncelle" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

