﻿@model EnglishBoxSite.Models.DilBilgisiYazilari

@{
    ViewBag.Title = "Dil Bilgisi Yazısı Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body" style="background-color:#006766; color:#ffffff;">
        <div class="container">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="~/Content/img/ikon/gramerders.png" class="img-responsive" />
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h2>Dil Bilgisi Yazıları</h2>
                
                @Model.YaziBaslik | Detaylar
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="col-md-8 col-sm-8 col-xs-12">
            @if (Model.YaziGorsel == null)
            {
                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/img/BlogGorsel/gramerFotoYok.png" alt="" />
            }
            else
            {
                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.YaziGorsel)" />

            }
            <h4>@Model.YaziBaslik</h4>
            <p>@Model.YaziTarih</p>
            <hr />
            <p>@Html.Raw(Model.YaziIcerik)</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="/Admin/YaziDuzenle?YaziID=@Model.YaziID" class="btn btn-info btn-block">Yazıyı Düzenle</a>
            <br />
            <a href="/Admin/YaziSil?YaziID=@Model.YaziID" class="btn btn-danger btn-block">Yazıyı Sil</a>
            <br />
            <a href="/Admin/AdminDilBilgisiYazilari" class="btn btn-primary  btn-block">Dil Bilgisi Yazıları Listesine Geri Dön</a>
        </div>

    </div>
</div>

