﻿@model EnglishBoxSite.Models.YaziliSorulari

@{
    ViewBag.Title = "Yazılı Hazırlık Soruları Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="jumbotron" style="background-color:#006766">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/img/ikon/yazilihazirlik.png" class="img-responsive" />
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h2 style="color:aliceblue">Yazılı Hazırlık Soruları Ekle</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("YaziliHazirlikEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Sınıf:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziliSinif, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Başlık:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziliBaslik, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Açıklama:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziliAciklama, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Döküman (URL):</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.YaziliDokuman, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Ekle" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



